body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainDiv { 
  background-color: #2f2fa2;
  color: #fffeee;
  width: 90%;
  height: 40%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#info { 
  background-color: #f64c72;
  color: #fffeee;
  width: 60%;
  font-size: xx-large;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

#wordInput {
  width: 100%;
  padding: 5px;
  transition: 1s;
}

.displayWords { 
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  height: auto;
  font-size: x-large;
  background-color: #242582;
}

.wordAmount { 
  width: 90%;
  padding: 5px;
}

.submitButton { 
  width: 10%;
  height: 150%; 
  text-size-adjust: auto;
  background-color: #f64c72;
  color: #fffeee;
  border-style: solid;
  padding: 4px;
  border-color: #f64c72;
}

.submitButton:hover { 
  background-color: #f64c71da;
  border-color: #f64c71da;
  transition: .1s;
}

.submitButton:focus { 
  background-color: #f64c71af;
  border-color: #f64c71af;
  transition: .1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
